
body{
 	padding-top:10px;
}

.container-fluid{ /*creating a fluid container so the webpage fits any size screen*/
	max-width:100%;
}

/*navigation styling*/
.navbar{
	background-color:#BE0F34;
	margin:auto;
	min-height:30px;
}

#navbar{
	float:right;
}

.header, .image{
	padding:0px;
}

#headerImage{
	max-width: 100%;
	max-height: 100%;
}
h3 a{
	font-size:22px;
}

a{
	color:#000;
	font-size:17px;
	position:relative;
	text-decoration:none;
}

#about{
	padding-top:20px;
}



p{
	font-family:"arial";
	font-size:20px;
}


h1,h2,h3,h4,h5{
	font-family:"arial";
	color:#000;
}

#galleryLink{
	color: #BE0F34;
	float: right;
	margin-bottom: 5px;
}

/*footer styling*/
footer p{
	color:#fff;
	font-size:15px;
}

.copyright, .social{
	background-color:#252220;
	float:left;
	padding-top:20px;
}

.copyright p{
	margin-left:20px;
}


#twitter{
	float:right;
	padding-right:40px;
}

#facebook{
	float:left;
}

.contactDetails{
	float:right;
	background-color:#252220;
	padding-top:10px;
	padding-left:325px;
}

.contactDetails p{
	margin-left:20px;
}

