body{
 	padding-top:70px;
}

.container-fluid{ /*creating a fluid container so the webpage fits any size screen*/
	max-width:100%;
}

/*navigation styling*/
.navbar{
	background-color:#fff;
}

.navbar li{
	padding-top:20px;
}

454241

h3 a{
	font-size:22px;
}

a{
	color:#000;
	font-size:17px;
	position:relative;
	text-decoration:none;
}

.heading{
	margin-top: 30px;
}

#about{
	padding-top:20px;
}



p{
	font-family:"arial";
	font-size:20px;
}


h1,h2,h3,h4,h5{
	font-family:"arial";
	color:#000;
}


/*footer styling*/
footer{
	margin-top:0px;
	width:100%;
}

/*footer p,{
	color:#fff;
	font-size:15px;
}*/

.copyright, .social, .contactDetails{
	padding:0px;
	background-color:#252220
}


#facebook, #twitter{
	/*position:50%;
	margin-left:50%;*/
	float:right;
}
.contactDetails{
	float:right;
}
